<goc-loading-screen *ngIf="!gameDetails"></goc-loading-screen>

<div *ngIf="gameDetails" class="container pt-5">

<div  class="row py-5 gy-3">
  <div class="col-md-4">
    <img [src]="gameDetails.thumbnail" class="w-100 rounded" alt="" />

    <div class="d-flex my-2">
      <button class="btn btn-secondary me-2" disabled>FREE</button>
      <button class="btn btn-primary w-100 d-block">Play Now</button>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="h1">{{ gameDetails.title }}</h2>
    <h4 class="mt-4 text-white text-opacity-75">Description</h4>
    <p class="text-white text-opacity-50">{{ gameDetails.description }}</p>

    <div *ngIf="gameDetails.minimum_system_requirements">
      <h4 class="mt-4 text-white text-opacity-75">
        Minimum System Requirements
      </h4>
      <ul class="list-unstyled text-white text-opacity-50">
        <li>
          <span class="fw-bold">graphics : </span>
          {{ gameDetails.minimum_system_requirements.graphics }}
        </li>
        <li>
          <span class="fw-bold">memory : </span>
          {{ gameDetails.minimum_system_requirements.memory }}
        </li>
        <li>
          <span class="fw-bold">os : </span>
          {{ gameDetails.minimum_system_requirements.os }}
        </li>
        <li>
          <span class="fw-bold">processor : </span>
          {{ gameDetails.minimum_system_requirements.processor }}
        </li>
        <li>
          <span class="fw-bold">storage : </span>
          {{ gameDetails.minimum_system_requirements.storage }}
        </li>
      </ul>
    </div>

    <div *ngIf="gameDetails.screenshots?.length !== 0">
      <h4 class="mt-4 text-white text-opacity-75">
        {{ gameDetails.title }} Screenshots
      </h4>

      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let game of gameDetails.screenshots; let i = index"
            [class]="i === 0 ? 'active' : ''"
            class="carousel-item"
            data-bs-interval="2600"
          >
            <img [src]="game.image" class="d-block w-100" alt="screenshot" />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h4 class="mt-4 text-white text-opacity-75">Additional Information</h4>

    <div class="row">
      <div class="col-6 col-lg-4">
        <span class="text-muted">Title</span>
        <p class="text-white text-opacity-75">{{ gameDetails.title }}</p>
      </div>
      <div class="col-6 col-lg-4">
        <span class="text-muted">Developer</span>
        <p class="text-white text-opacity-75">{{ gameDetails.developer }}</p>
      </div>
      <div class="col-6 col-lg-4">
        <span class="text-muted">Publisher</span>
        <p class="text-white text-opacity-75">{{ gameDetails.publisher }}</p>
      </div>
      <div class="col-6 col-lg-4">
        <span class="text-muted">Release Date</span>
        <p class="text-white text-opacity-75">{{ gameDetails.release_date }}</p>
      </div>
      <div class="col-6 col-lg-4">
        <span class="text-muted">Genre</span>
        <p class="text-white text-opacity-75">{{ gameDetails.genre }}</p>
      </div>
      <div class="col-6 col-lg-4">
        <span class="text-muted">Platform</span>
        <p class="text-white text-opacity-75">
          <i
            *ngIf="gameDetails.platform == 'Windows'"
            class="fab fa-windows text-muted me-1"
          ></i>
          <i
            *ngIf="gameDetails.platform == 'Web Browser'"
            class="fas fa-window-maximize text-muted"
          ></i>
          {{ gameDetails.platform }}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
