.card {
  cursor: pointer;
  background-color: #32383e;
  transition: transform 0.2s ease-out;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}
.card-body i {
  font-size: 20px;
}
